@using MVC_Project.ViewModels
@model IEnumerable<EmployeeViewModel>
@{
	ViewData["Title"] = "Index";
}

<h1 class="display-4">@ViewBag.Message</h1>
<br />
@if (!string.IsNullOrEmpty(TempData["Success"] as string))
{
	<div class="alert alert-success">@TempData["Success"]</div>
}

<div class="row justify-content-center align-items-center my-3">
	<form class="row col-md-8 offset-md-2" asp-action="Index">
		<div class="col-md-8">
			<input type="text" class="form-control" name="SearchInput" placeholder="Search By Name" />
		</div>
		<div class="col-md-4">
			<input type="submit" value="Search" class="btn btn-success" />
		</div>
	</form>
</div>

<a asp-controller="Employee" asp-action="Create" class="btn btn-primary">Create New Employee</a>

@if (Model.Count() > 0)
{
	<table class="table table-hover table-striped mt-4 align-middle text-center">
		<thead>
			<tr>
				<th>@Html.DisplayNameFor(E => E.Name)</th>
				<th>@Html.DisplayNameFor(E => E.Age)</th>
				<th>@Html.DisplayNameFor(E => E.Address)</th>
				<th>@Html.DisplayNameFor(E => E.Department)</th>
				<th>@Html.DisplayNameFor(E => E.Salary)</th>
				<th>@Html.DisplayNameFor(E => E.IsActive)</th>
				<th>@Html.DisplayNameFor(E => E.Gender)</th>
				<th>@Html.DisplayNameFor(E => E.Email)</th>
				<th>Details</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var employee in Model)
			{
				<tr>
					<td>@employee.Name</td>
					<td>@employee.Age</td>
					<td>@employee.Address</td>
					<td>@employee.Department?.Name</td>
					<td>@Html.DisplayFor(M => employee.Salary)</td>
					<td>@Html.DisplayFor(M => employee.IsActive)</td>
					<td>@employee.Gender</td>
					<td>@Html.DisplayFor(M => employee.Email)</td>
					<partial name="_ButtonsPartial" model="@employee.Id"></partial>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<div class="mt-5 alert alert-danger">
		<h3>There is no employees</h3>
	</div>
}